<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard | Devops | LAPO MFB
    </title>
    <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/material-icons/4.0.5/css/material-icons.min.css">
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Material+Icons">

  <meta name="viewport" content="width:device-width, initial-scale:1.0">
</head>

<body style="overflow: hidden">
    <div class="navbar">
        <br><br><a class="selected">DASHBOARD</a><br>
        <a class="navbara" id="projbar" href="/businessplanner/home/projects">PROJECTS</a>
        <a class="navbara" href="/businessplanner/home/submittingtasks/selectproj">SUBMIT ACTIVITY</a>
        <a class="navbara" href="/businessplanner/home/viewreport">VIEW REPORT</a><br>
        <a class="navbara" href="/businessplanner/home/bin">BIN</a>
    </div>
</body>
<script src="/javascripts/BusinessPlanner.js"></script>

</html>