<!DOCTYPE html>
<html>
    <head>
        <title>
            Projects | Devops | LAPO MFB
        </title>
        <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
        <!-- <link type="text/css" href="/output.css" rel="stylesheet"> -->
        <meta name="viewport" content="width: device-width, initial-scale:1.0">
    </head>
    <body>
        <div class="navbar">
            <br><br><a class="navbara" href="/businessplanner/home">DASHBOARD</a><br>
            <a class="selected" id="projbar">PROJECTS</a>
            <a class="navbara" href="/businessplanner/home/submittingtasks/selectproj">SUBMIT ACTIVITY</a>
            <a class="navbara" href="/businessplanner/home/viewreport">VIEW REPORT</a><br>
            <a class="navbara" href="/businessplanner/home/bin">BIN</a>
        </div>
        <header class="header">
            <img src="/images/Business Planner/lapo_logo_plain.png" style="width: 10vw; margin: 6px 15px">
            <div class="sign-out-box">
                <a onclick="toggleSignOutDropdown()"><img src="/images/Business Planner/icons8-expand-arrow-96.png" style="width: 1vw; float: right; padding: 1vw 0; margin-right: 0.5vw"><img src="/images/Business Planner/icons8-user-64.png" style="width: 3vw; float: right; margin: 2.3px 0"></a>
                <div class="dropdown-content2" style="top: 3.35vw; width: 7vw" id="signOutDropdown">
                    <a style="padding: 0.5vw 1vw" onclick="logout()">Sign Out</a>
                </div>
            </div>
        </header>
        <div class="bodyhead">
            <div style="color: black; padding: 0.5vw"><a href="/businessplanner/home">home</a> / <a href="/businessplanner/home/projects">projects</a> / <div style="display: inline-block; color: #efefef">ADDPROJECT</div></div>
        </div>
        <div class="body" id="bdproj">
            <a href="/businessplanner/home/projects" class="back-arrow"><img src="/images/Business Planner/icons8-back-arrow-90.png"></a><br>
            <form method="post" action="/businessplanner/addingnewprojects..." enctype="multipart/form-data">
            <div id="formproject">
                <fieldset class="report">
                    <h1>ADD NEW PROJECT</h1>
                     <div style="display: flex; gap: 100px;">
                        <div style="display: flex; flex-direction: column;">
                            <label for="title">PROJECT TITLE</label>
                            <input name="title" type="text" required><br>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <!-- <label for="title">PROJECT DURATION</label> -->
                            <div style="display: flex; flex-direction: row; gap: 10px;">
                                <div style="display: flex; flex-direction: column;">
                                    <label for="startDate">Start Date</label>
                                    <input id="startDate" type="date" name="startDate" placeholder="from" required>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <label for="endDate">End Date</label>
                                    <input id="endDate" type="date" name="endDate" placeholder="from" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="document">Upload document</label>
                            <input name="document" type="file" placeholder="Project document" >
                        </div>
                     </div>
                    <label class="bg-green-600" for="desc">PROJECT DESCRIPTION</label><br>
                    <textarea name="description" rows="4" placeholder="Enter description here" class="text-area" onChange="(e) => handleValChange(e)" required></textarea>
                    <p style="color: red; font-size: 0.9vw; display: none; margin: -0.2vw 0 -2.25vw;">Invalid input</p><br><br>
                    <button type="submit" class="reportsubmit">SAVE PROJECT</button>
                </fieldset>
            </div>
        <a id="addtask" onclick="addproject()" class="reportbtn"><img src="/images/Business Planner/icons8-plus-100.png" width="100%"></a>
        <a id="remtask" onclick="removeprojform()" class="reportbtn"><img src="/images/Business Planner/icons8-minus-96.png" width="100%"></a>
        <input type="submit" id="submitbtn" class="reportsubmit" style="margin-left: 1vw; display: inline-block" value="SAVE PROJECT" formaction="/businessplanner/submittingnewprojects...">
        <input type="submit" id="submitallbtn" class="reportsubmit" style="margin-left: 1vw; display: block" value="SAVE ALL PROJECTS"></form>
        
        <br>
        <div class="footer">
            <p style="color: #366345; font-weight: bold">LAPO Mfb</p><p>@ 2023 DevOps.</p>
            <p style="color: #366345; font-weight: bold; float: right"> LAPO Mfb</p><p style="float: right">Powered by </p>
        </div>

        <%if(message.status){%>
            <div class="message-popup" id="popup" style="top: 25vw; left: 56vw">
                <div class="popupheader">An error occured processing your request</div>
                <div class="popupcontent">
                    <p>
                        <%=message.status %>
                    </p>
                    <button class="popupbtn" onclick="donTSave()">CANCEL</button>
                </div>
            </div>
        <%}%>
        
        <div class="popup" id="logoutBox">
            <div class="popupheader">DO YOU WANT TO SIGN OUT?</div>
            <div class="popupcontent" style="height: 6vw">Are you sure you want to sign out? You will be taken back to the login page.
                    <br><br><a class="popupbtn" href="/businessplanner/logout">SIGN OUT</a><a class="popupbtn" onclick="logoutCancel()">CANCEL</a>
            </div>
        </div>
    </body>
    <script src="/javascripts/BusinessPlanner.js">
        // const currentDate = new Date().toISOString().split('T')[0];
        // Set the current date as the minimum date for the input
        // document.getElementById('startDate').setAttribute("min", "2023-09-18");
    </script>
</html>