<!DOCTYPE html>
<html>
    <head>
        <title>
            Log in page | Devops | LAPO MFB
        </title>
        <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
    </head>
    <body class="body1">
        <div class="login">
            <div style="display: inline-block; width: 53%; height: 100%">
                <div style="position: absolute; top: 15px; left: 15px; font-size: 1.7vw; font-family:'Gill Sans MT', Calibri; display: flex; align-items: center;">
                    <img src="/images/Business Planner/LAPO_Logo_2022.png" width="10%" style="padding-right: 5px">
                </div>
                <form class="form" method="post" action="/businessplanner/loggingin...">
                    <center><p class="title">Welcome back</p>
                    <p class="subtitle">Please enter your details.</p></center><br><br>
                    <label for="user" class="label">Username</label><br>
                    <input type="text" name="user" class="box" required><br>
                    <label for="pswrd" class="label">Password</label><br>
                    <input type="password" name="pswrd" class="box" required><br>
                    <i class="commentR">Forgot password?</i><br>
                    <input type="submit" class="button" value="LOG IN">
                    <center><p class="subtitle" style="color: red; font-size: 1vw">Wrong username or password</p>
                    <p style="font-size: 0.9vw">Signing in for the first time? <a href="/businessplanner/signup" class="nobtn">Sign Up</a></p></center>

                </form>
            </div>
            <div class="img"></div>
        </div>
    </body>
    <script src="/javascripts/BusinessPlanner.js"></script>
</html>