<!DOCTYPE html>
<html>
    <head>
        <title>
            Successful Signup
        </title>
        <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
        <meta name="viewport" content="width: device-width, initial-scale:1.0">
    </head>
    <body class="body3">
        <div class="body2">
            <img src="/images/Business Planner/icons8-check-240.png"><br>
            <h3 style="font-size: 1.6vw">Your account has been created successfully!</h3><br>
            <a href="/businessplanner/login" class="btn-login">LOGIN <img src="/images/Business Planner/icons8-arrow-96.png"></a>
        </div>
    </body>
    <script src="/javascripts/BusinessPlanner.js"></script>
</html>