<!DOCTYPE html>
<html>
    <head>
        <title>
            View submitted reports | DevOps | LAPO MFB
        </title>
        <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
        <meta name="viewport" content="width: device-width, initial-scale: 1.0">
    </head>
    <body>
        <div class="navbar">
            <br><br><a class="navbara" href="/businessplanner/home">DASHBOARD</a><br>
            <a class="navbara" id="projbar" href="/businessplanner/home/projects">PROJECTS</a>
            <a class="navbara" href="/businessplanner/home/submittingtasks/selectproj">SUBMIT ACTIVITY</a>
            <a class="selected">VIEW REPORT</a><br>
            <a class="navbara" href="/businessplanner/home/bin">BIN</a>
        </div>
        <header class="header">
            <img src="/images/Business Planner/lapo_logo_plain.png" style="width: 10vw; margin: 6px 15px">
            <div class="sign-out-box">
                <a onclick="toggleSignOutDropdown()"><img src="/images/Business Planner/icons8-expand-arrow-96.png" style="width: 1vw; float: right; padding: 1vw 0; margin-right: 0.5vw"><img src="/images/Business Planner/icons8-user-64.png" style="width: 3vw; float: right; margin: 2.3px 0"></a>
                <div class="dropdown-content2" style="top: 3.35vw; width: 7vw" id="signOutDropdown">
                    <a style="padding: 0.5vw 1vw" onclick="logout()">Sign Out</a>
                </div>
            </div>
        </header>
        <div class="bodyhead">
            <div style="color: black; padding: 0.5vw"><a href="/businessplanner/home">home</a> / <div style="display: inline-block; color: #efefef">VIEWREPORT</div></div>
        </div>
        <div class="body" style="overflow: hidden">
            <iframe class="paper" srcdoc="<center><h1 style='color: darkslategrey; position: absolute; left: 10%; top: 40%'>...NO REPORT HAS BEEN SUBMITTED FOR THIS WEEK</h1></center>">
                
            </iframe>

            
            <div class="footer">
                <p style="color: #366345; font-weight: bold">LAPO Mfb</p><p>@ 2023 DevOps.</p>
                <p style="color: #366345; font-weight: bold; float: right"> LAPO Mfb</p><p style="float: right">Powered by </p>
            </div>
        </div>

        
        <div class="popup" id="logoutBox">
            <div class="popupheader">DO YOU WANT TO SIGN OUT?</div>
            <div class="popupcontent" style="height: 6vw">Are you sure you want to sign out? You will be taken back to the login page.
                    <br><br><a class="popupbtn" href="/businessplanner/logout">SIGN OUT</a><a class="popupbtn" onclick="logoutCancel()">CANCEL</a>
            </div>
        </div>
        
    </body>
    <script src="/javascripts/BusinessPlanner.js"></script>
</html>